/* Стилизация кнопки */

.button {
    background-color: white;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid rgb(172, 181, 189);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
  

}

.button_primary {
    background-color: var(--primary);
    border: none;
    color: white;
}

.button_secondary {
    background-color: var(--secondary);
    border: none;
    color: white;
}


.button:not(.button:disabled):hover {
    color: var(--black);
    border: 1px solid var(--black);
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

